.subs-btn-mark-watched {
    background-image: url('images/markwatched.svg'), /*works in Firefox*/
                      url('chrome-extension://__MSG_@@extension_id__/images/markwatched.svg'); /*works in Chrome*/
    height: 24px;
    width: 24px;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 99;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: #000000;
    opacity: .8;
}
